.list-group-item {
  &.complited {
    opacity: 0.5;
  }
}

.counter {
  margin:  0 0 10px;
}

.btn {
  &.selected {
    background: red;
    border-color: red;
  }
}

.item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}


.list-group-item {
  padding: 0;
  border: 0;
}