.headTitle {
  color: #fff;
  font-size: 18px;
}

.header {
  min-height: 64px;
  padding: 12px 20px;
  background-color: #1976d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
